.idea/inspectionProfiles/profiles_settings.xml
.idea/material_theme_project_new.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
250402 스택_큐 실습/\[실습6\]주문 처리하기/__pycache__/order.cpython-39.pyc
*.pyc
